<footer>
  <div class="content-wrap">
    <div class="top">
      <div class="left">
        <img src="../assets/img/logo (1).png" alt="" />
        <div class="text">
          All CCTV channels are independently broadcast the following 16
          channels are public channels.
        </div>
        <div class="icon-wrap">
          <div class="icon">
            <i class="fab fa-facebook-f"></i>
          </div>
          <div class="icon">
            <i class="fab fa-twitter"></i>
          </div>
          <div class="icon">
            <i class="fab fa-instagram"></i>
          </div>
          <div class="icon">
            <i class="fab fa-linkedin-in"></i>
          </div>
          <div class="icon">
            <i class="fab fa-google"></i>
          </div>
        </div>
      </div>
      <div class="center">
          <div class="center-content">
            <div class="sub-heading-s">Solutions</div>
            <div class="text">Services</div>
            <div class="text">Portfolio</div>
            <div class="text">News</div>
            <div class="text">Team</div>
            <div class="text">Connect Us</div>
          </div>
          <div class="center-content">
            <div class="sub-heading-s">Company</div>
            <div class="text">Home</div>
            <div class="text">About</div>
            <div class="text">Blog</div>
            <div class="text">Contacts</div>
            <div class="text">Case Study</div>
          </div>
      </div>
      <div class="right">
          <div class="sub-heading-s">Latest News</div>
          <div class="right-content">
            <div class="img-wrap">
              <img src="../assets/img/footer.jpg" alt="" class="right-img" />
              <div class="num">12</div>
            </div>
            <div class="text-wrap">
              <div class="text margin">Every Next Level Of Your Life Will Demand</div>
              <div class="date">
                <i class="far fa-clock"></i>
                <div class="text">June 4, 2022</div>
              </div>
            </div>
          </div>
          <div class="right-content">
            <div class="img-wrap">
              <img src="../assets/img/footer2.jpg" alt="" class="right-img" />
              <div class="num">12</div>
            </div>
            <div class="text-wrap">
              <div class="text">Every Next Level Of Your Life Will Demand</div>
              <div class="date">
                <i class="far fa-clock"></i>
                <div class="text">June 4, 2022</div>
              </div>
            </div>
          </div>

      </div>
    </div>
    <div class="middle">
      <div class="middle-contents">
        <div class="middle-content">
          <i class="fal fa-map-marker-alt"></i>
          <div class="text">{{site.data.company.address}}</div>
        </div>
        <div class="middle-content">
          <i class="fal fa-envelope-open-text"></i>
          <div class="text">{{site.data.company.email}}</div>
        </div>
        <div class="middle-content">
          <i class="fal fa-map-marker-alt"></i>
          <div class="text">{{site.data.company.phone}}</div>
        </div>
      </div>
    </div>
    <div class="bottom">
      <div class="bottom-wrap">
        <div class="text">© Cvance - <strong>2022</strong></div>
        <div class="text-wrap">
          <div class="text">Privacy</div>
          <div class="text">Terms</div>
          <div class="text">Sitemap</div>
          <div class="text">Help</div>
        </div>
      </div>
    </div>
  </div>
</footer>
